*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #1b2631;
}
/* .color-4 {color: #17202a;}
.color-5 {color: #eaecee;}
.color-6 {color: #1b2631;}*/
div{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #17202a;
    /*border: 1px solid whitesmoke;*/
}
nav {
    padding: 2rem;
}
nav a{
    color: whitesmoke;
    font-weight: bold;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 0.3rem;
    margin: 3px;

}
nav a:hover{
    background-color: black;
    color: violet ;
}

.logo-mindy {
    width: 13rem;
    padding-top: 1rem;
 }

body{
    justify-content: center;
    background-color: whitesmoke;
}
header{
    height: 10rem;
    color: whitesmoke;
    padding: 3rem;
    /*border: 1px solid whitesmoke;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    background-color: #1b2631;
    text-align: center;
}
main{
    /*min-height: 60vp;*/
    padding: 10px;
    background-color: #17202a;
    ;
    display: flex;
    justify-content: center;
}
table, tr{ 
    border: 1px solid black;
    text-align: center;
}
table{
font-size: larger;
    height: 40rem;
    width: 30rem;
}
th{
    background-color: blanchedalmond;
    width: 20rem;
    height: 10rem;
    text-align: center;

}
td{
    background-color: rgb(231, 137, 182);
    width: 20rem;
    height: 6rem;
    text-align: center;
}
footer{
    background-color: #1b2631;
    border: 1px solid whitesmoke;
    color:whitesmoke;
    height: 6rem;
    text-align: center

}
.ben-tips{
    flex-direction: column;
}
footer p{
    padding: 2rem;
    display: inline-block;
    width: 20%;
    ;
}
/*img{
    width: 40%;
}*/
body img{ 
    width: 50%;
    display: inline-block;
}
h2{
    color: #eaecee;
}
p{
 /*esta p es de index*/
    font-size: x-large;
    padding: 15rem;
    color: whitesmoke;
    display: inline-block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.caja-contacto{
 box-sizing: border-box;
}
.foto-ventana{
    height: 80rem;
    width: 60rem;
}
a:-webkit-any-link {
    font-size: larger;
    color: whitesmoke;
    cursor: pointer;
    text-decoration: underline;
}
.cuerpito{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
section{
    display: flex;
    justify-content: center;
}